body{
  font-family: 'Source Serif Pro', serif;
}

h1{
  font-family: 'Dela Gothic One', cursive !important;
  font-size: 60px;
  margin-bottom: 150px;
  margin-top: 50px;
  z-index: 1;
}

h4{
  font-family: 'Dela Gothic One', cursive !important;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
}

.cbp-so-section p {
    font-size: 1em;
    font-weight: 300;
}

.cbp-so-side-left {
    text-align: left;
}

.cbp-so-section {
    margin-bottom: 0em !important;
}

.cbp-so-side {
    width: 50%;
    float: left;
    margin: 0;
    padding: 1em 1% !important;
    overflow: hidden;
    min-height: 12em;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.shadow-sm {
    box-shadow: 0rem 0rem rgba(0,0,0,.075) !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: none !important; 
    background-clip: border-box !important;
    border: none !important; 
    border-radius: none !important;
}

.detalhe{
    position: absolute;
    right: 100px;
    top: -100px;
    z-index: -5;
      }

.imagebg{
    width: 100%;
    height: 500px;
    background-image: url("bg.png");
    position: absolute;
    top:50px;
    z-index: -10;
      }

.lead{
  text-align: justify;
  font-size: 1.55rem;
  margin-bottom: -50px;
}

.paragrafos{
  text-align: justify;
  font-size: 1.55rem !important;
  margin-top: 100px;
  margin-bottom: 40px;
}

.card-title{
  font-weight: bold;
  font-size: 30px;
}

.titulo-pizza{
  font-size: 20px;
}

.destaque{
        font-size: 40px !important;
        text-align: left;
        margin-bottom: -50px !important;

      }

.perfis{
  margin-right: 10px;
}

.sobre{
  margin-top: 20px !important;
}